\:root
  --background-color: #{'{{ theme.background_color }}'}
  --background-secondary-color: #{'{{ theme.background_secondary_color }}'}
  --text-color: #{'{{ theme.text_color }}'}
  --text-secondary-color: #{'{{ theme.text_secondary_color }}'}
  --link-color: #{'{{ theme.link_color }}'}
  --link-hover-color: var(--link-hover-color)
  --border-color: #{'{{ theme.border_color }}'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --header-font: #{'{{ theme.header_font | font_family }}'}
  --text-font: #{'{{ theme.text_font | font_family }}'}

  --border-radius: 4px
  --border-radius-sm: 2px
  --spacing-unit: 16px

$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 668px
$break-extra-small: 500px