/* -------------------------------------------------------------- 
  Cart
-------------------------------------------------------------- */

#cart #site_content { 
  width: 92%;
  max-width: 710px;
  margin-bottom: -15%;
  }
  
#cart_items {
  margin-top: -15px;
  }  

#cart_items ul {
	margin-bottom: 0;
  }    
    
#cart_items li {
  overflow: hidden;
  padding: 10px 0;
  transition: all .5s ease-in;  
  
  &:hover {
	  background: lighten({{ theme.background_secondary_color }}, 5%);
		transition: all 0 ease-in;  
  }
}   
  
    
    
.item_thumb {
  float: left;
  width: 10.6%;
  min-height: 55px;
  max-height: 55px;
  margin: 0 0 0 6%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;  
  }    
    
.item_thumb img {
  margin: 0;
  max-height: 55px;
  line-height: 0;
  }    
    
.item_name {
  float: left;
  width: 37%;
  padding: 0 3% 0 0;
  margin: 19px 0 0 6%;
  }   
  
.item_name h3,
.item_name span {
  margin-bottom: 0;
  }  
  
#cart_items li input {
  float: left;
  padding-top: 9px;
  padding-bottom: 9px;
  margin:  11px 0 0 0;
  font-size: 13px;
  color: {{ theme.text_secondary_color }};
  width: 20px;
  text-align: center;
  border-color: transparent;
  border-radius: 3px;
  }   
  
#cart_items li:hover input {
	color: {{ theme.text_color }};
  background: {{ theme.background_secondary_color }};
  }     
  
#cart_items li input:focus {
	background: {{ theme.link_color }};
	box-shadow: none;
	color: {{ theme.background_color }};
  }  
  
.item_price {
  float: left;
  margin: 19px 0 0 3.9%;
  color: {{ theme.text_color }};
  }  
  
.with_option .item_name {
  margin-top: 10px;
  }  
  
a.remove_item {
  float: right;
  margin: 20px 25px 0 0;
  font-size: 11px;
  color: {{ theme.link_color }};
  } 
  
a.remove_item:hover {
  color: darken({{ theme.link_color }}, 15%);    	
  }    
  
#cart_options {
  margin: 0 0 25px;
  padding: 15px 0 0;
  }  
  
#cart_options li {
  overflow: hidden;
  position: relative;
  }  

#cart_options li:first-child {
  margin-bottom: 15px;
  }
  
#cart_options li label {
	width: 40.1%;
	padding-right: 4%;
  color: {{ theme.text_secondary_color }};	
	}  
	
#cart_options .update-btn {
	width: auto;
	right: 9%;
	margin-top: 8px;
	text-align: right;	
	}	
	
#discount_option .update-btn {
	margin-top: 22px;
	}	
  
#cart_options input,
#cart_options select {
  float: left;
  width: 150px;
  }
  
#cart_options input {
  padding: 12px 9px;
  font-size: 13px;
  border: none;
  }  
  
#cart_options select {
  width: 168px;
  margin-top: 10px;
  }    
  
#cart_options h3 {
  margin: 10px 0 0 27px;
  float: left;
  }

#cart_options p {
  float: left;
  margin-top: 10px;
  width: 161px;
  }

#cart_options #cart-shipping-tax.not_set {
  margin-bottom: 0;
  }

#cart-shipping-tax.not_set h3 {
  margin-left: 0;
  } 
  
#cart-shipping-tax label.not_set {
	color: {{ theme.error_color }};
	}  

#discount_option {
  padding-top: 2px;
  }

#discount_option input {
	background: {{ theme.background_secondary_color }};
  margin-top: -2px;
  }

.update-btn {
  float: right;
  font-size: 11px;
  padding: 0;
  margin: 13px 31px 0 0;
  font-family: {{ theme.text_font }}, "Andale Mono", AndaleMono, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: {{ theme.link_color }};
  border: none;
  background: none;
  cursor: pointer;
  }  
  
.update-btn:hover {
  color: darken({{ theme.link_color }}, 15%);
  }
  
#cart_total {
  overflow: hidden;
  min-height: 70px;
  margin-top: 10px;
  background: {{ theme.background_secondary_color }};
  }  
  
#cart_total p {
  float: left;
  width: 40%;
  margin: 28px 0 0 7.5%;
  font-size: 11px;
  color: {{ theme.text_secondary_color }};
  }  
  
#cart_total #total {
  float: right;
  width: 40%;  
  margin: 20px 0 0 10%;
  }  

#cart_total #total h3 {
  float: left;
  margin: 8px 0 0;
  width: 27%;
  font-size: 11px;    
  color: {{ theme.text_secondary_color }};  
  text-align: center;
  }
  
#cart_total #total h2 {
  float: left;
  margin: 0 0 0 2.1%;
  font-size: 22px;
  color: {{ theme.text_color }};
  }  

#cart_total .update-btn {
  margin-top: 10px;
  margin-right: 25px;
  }

#checkout-btn {
	width: 198px;
  margin: 40px 0 0 61%;
  }  

#cart_empty {
	margin-top: 130px;
	margin-bottom: -30%;
	}
	
#cart_empty a {
	font-size: 34px;
	border-bottom: 2px solid {{ theme.link_color }};
  }

#cart_empty a:hover {
	border-color: darken({{ theme.link_color }}, 15%);
}  
  

