/* -------------------------------------------------------------- 
  Contact
-------------------------------------------------------------- */
#contact #page_body {
	overflow: hidden;
  width: 550px;
  max-width: 550px;
  min-width: 550px;
  margin: 0 auto;	
  }

#contact_form {
	text-align: center;
  }

#contact_form li {
  padding:  0;
  overflow: hidden;
  border-top: 1px solid {{ theme.border_color }};  
  }

#contact_form li label {
	float: left;
  width: 100px;
  margin-top: 12px;
  padding-bottom: 10px;
  color: {{ theme.text_secondary_color }};  
  }

#contact_form li#contact_message label {
/* 	padding-bottom: 141px; */
	}

#contact_form li input {
	float: left;
  width: 404px;
  padding: 12px 8px 24px;
  border: none;
  }
  
#contact_form li textarea {
	height: 22px;
  width: 404px;
  padding: 12px 8px 24px;
  border: none;  
	transition: height .2s ease-in;  
  }
  
#contact_form li textarea:focus {
  height: 150px;
	}

#contact_form button {
  margin: 30px auto;
  }

#contact_form #captcha_img {
  overflow: hidden;
  }

 #contact_form #captcha_img img {
  float: right;
  height: 34px;
  margin-top: 10px;
  padding-bottom: 8px;
  margin-right: 0;
  }

#contact_form #captcha_img input {
  float: left;
  width: 319px;
  margin-left: 0;
  }
