/* --------------------------------------------------------------
  Contact
-------------------------------------------------------------- */
#contact #page_body {
  overflow: hidden;
  width: 550px;
  max-width: 550px;
  min-width: 550px;
  margin: 0 auto;
}

#contact_form {
  text-align: center;

  li {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    border-top: 1px solid #{'{{ theme.border_color }}'};

    label {
      margin: 0;
      padding: 12px 16px 20px;
      width: 100px;
      color: #{'{{ theme.text_secondary_color }}'};
    }

    input {
      width: 404px;
      padding: 12px 12px 20px;
      border: none;
      transition: background .5s ease-in;
    }

    &:hover {
      input, textarea {
        transition: background 0s ease-in;
      }
    }

    textarea {
      height: 150px;
      width: 404px;
      padding: 12px 8px;
      border: none;
      transition: background .5s ease-in;
    }

    &#captcha_img {
      overflow: hidden;

      img {
        margin-left: auto
      }

      input {
        width: 272px;
        margin-left: 0;
      }
    }
  }

  button#contact_button {
    margin: 30px auto;
    min-width: 198px;
  }
}
