/* --------------------------------------------------------------
  Contact
-------------------------------------------------------------- */
#contact #page_body {
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
}

#contact_form {
  text-align: center;

  li {
    list-style-type: none;
    margin-bottom: 10px;

    label {
      margin: 0;
      padding: 12px 0;
      width: 100%;
      text-align: left;
      color: #{'{{ theme.text_secondary_color }}'};
    }

    input {
      box-sizing: border-box;
      border: 1px solid #{'{{ theme.border_color }}'};
      width: 100%;
      padding: 12px 10px;
    }

    textarea {
      box-sizing: border-box;
      border: 1px solid #{'{{ theme.border_color }}'};
      height: 150px;
      width: 100%;
      padding: 12px 10px;
      transition: background .5s ease-in;
    }

    &.recaptcha_note {
      display: block;
      font-size: 15px;
      padding-top: 10px;
      text-align: left;
    }
  }

  button#contact_button {
    margin: 30px auto;
    min-width: 198px;
  }
}
