/* -------------------------------------------------------------- 
  Custom / Success / Typography
-------------------------------------------------------------- */
 
#page_body {
  overflow: hidden;
  width: 520px;
  max-width: 520px;
  min-width: 520px;
  margin: 0 auto;  
  
  * {
    line-height: 1.6em;
  }
  
  h1 {
    margin-top: 1.4em;
    margin-bottom: .2em;  
    font-size: 28px;
  }
  
  h2 {
    margin-top: 1.4em;
    margin-bottom: .2em;  
    font-size: 24px;
  }
  
  h3 {
    margin-top: 1.6em;  
    margin-bottom: .2em;  
    font-size: 20px;
  }
  
  h4 {
    margin-top: 1.5em;
    margin-bottom: .2em;
    font-size: 18px;
  }
  
  h5 {
    margin-top: 1.6em;
    margin-bottom: 0;
    font-size: 16px;
  }
  
  h6 {
    margin-top: 1.6em;
    margin-bottom: 0;
    text-decoration: underline;    
  }
  
  ul, ol {
    list-style-position: inside;
  }
  
  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  blockquote {
    padding: 1.3em 1em .2em;
    background: #{'{{ theme.background_secondary_color }}'}
  }
  
  img {
    width: 100%;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #{'{{ theme.border_color }}'};
    display: block;
    height: 1px;
    margin: 1em 0;
  }
  
  #success & {
    text-align: center;
  }
  
  #entries {
    
    & > li {
      list-style-type: none;
      margin-bottom: 4em;
      border-top: 1px solid #{'{{ theme.border_color }}'}
    }
    
    li {
      
      &:first-child {
        border-top: none;
      }
      
      h2 {
        margin-bottom: 0;
        margin-top: .5em;
      }
    }
    
    div {
      img {
        width: 100%;
      }
      
      p {
        margin-top: 20px;
      }
    }
    
    .blog_date {
      margin-top: -1px;
      margin-bottom: 1em;
      color: #{'{{ theme.text_secondary_color }}'}
    }
  }
}