/* -------------------------------------------------------------- 
  Base styles
-------------------------------------------------------------- */

html {
  height: 100%;	
  }

body {
  font-family: {{ theme.header_font }}, "Andale Mono", AndaleMono, "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 13px;
  color: {{ theme.text_color }};
  text-rendering: optimizeLegibility;	
  -webkit-font-smoothing: antialiased;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-color: {{ theme.background_color }};
{% if theme.background_image != blank %}
  background-image: url({{ theme.background_image.url }});
  background-repeat: repeat;
{% endif %}  
  }

body::before { top: 0; }
body::after { bottom: 0; }  

body::before, body::after {
  position: fixed;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 200;
  content: "";
  background: transparent;
  }  
	
::-moz-selection{ background: {{ theme.link_color }}; color: {{ theme.background_color }}; }
::selection { background: {{ theme.link_color }}; color: {{ theme.background_color }}; }	

p, blockquote, ul, ol, dl {
  margin-bottom: 1.2em;	
  line-height: 1.4em;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.2em;	
  line-height: 1.4em;
  }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

a,
a:link,
a:visited {
  color: {{ theme.link_color }};
  text-decoration: none;
  outline: none;
  cursor: pointer; 	  
  }

a:hover,
a:active {
  color: {{ theme.hover_color }};    	
  }

a img {
  display: block;
  text-decoration: none;
  border: none;
  }

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  }	
	
img,
embed,
object,
video {
  max-width: 100%;
  }	
  
/* -------------------------------------------------------------- 
  Elements / Shared
-------------------------------------------------------------- */  

.button {
  padding: 11px 27px;
  margin: 0;
  border: 1px solid {{ theme.border_color }};
  color: {{ theme.text_secondary_color }} !important;
  background: transparent;
  cursor: pointer;
  font-family: {{ theme.header_font }};  
  font-size: 13px;
  text-align: center; 	    
  }
  
.button:hover {
  color: {{ theme.hover_color }} !important;
  border-color: {{ theme.link_color }}; 		  
  }
  
.button.disabled {}
  
.button.disabled:hover {
  cursor: default;
  }   
  
input,
textarea {
  padding: 10px 8px;
  width: auto;
  font-family: {{ theme.header_font }}
  background: transparent;
  outline: none;
  }
  
li:hover textarea,
li:hover input {
	background: {{ theme.background_secondary_color }};
	}
  
input:focus,
textarea:focus {
  color: {{ theme.background_color }};
  outline: none;
	background: {{ theme.link_color }} !important;  
  }
  
label {
  display: block;
  float: left;
  width: 170px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: right;  
  }  

ul#error {
	max-width: 550px;
	margin: 20px auto 80px;
	text-align: center;
	color: {{ theme.error_color }};
	}
	
ul#error li {
	padding: 14px 0;
	margin-bottom: 1px;
	background: #fef1f8;
	}	
  
.message {
	max-width: 500px;
 	margin: 110px auto 0;
 	padding: 25px 25px;
  text-align: center;
  }  
  
.message p {
	font-size: 14px;
	margin-bottom: 0;	
	}	
	
#search {
	margin-right: 10px;
	}	

#search #search-form a {
	color: {{ theme.text_secondary_color }} !important;
	}
	
#search #search-form a:hover {
	color: {{ theme.text_color }} !important;
	}	

#search #search-form input {
	display: none;
	margin: -15px 0 0;
	outline: none;	
	color: {{ theme.text_color }};
	border: none;
	}
	
#search #search-form input:focus {
	color: {{ theme.background_color }};
	}
	

/* -------------------------------------------------------------- 
  Structure
-------------------------------------------------------------- */

.canvas {
  width: 80%;
  max-width: 780px;
  min-width: 550px;  
  margin: 0 auto 0;
  }
  
#site_content {
  position:relative;
  min-width: 550px;    
  height: auto !important;
  height: 100%; 
  min-height: 100%;
  padding: 0;	   
  margin-top: 80px;
  }


/* -------------------------------------------------------------- 
  Site Header
-------------------------------------------------------------- */

#site_header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 25px 0;
  }
  
#branding a,
#cart_nav a {
  color: {{ theme.text_color }};
  }
  
#branding a:hover,
#cart_nav a:hover {
  color: {{ theme.text_secondary_color }};
  }    
  
#branding {
  float: left;
  margin-left: 20px;
  }  
  
#cart_nav {
  float: right;
  margin-right: 30px;
  }  
  
#cart_nav #menu {
	display: none;
	}
  
#cart_nav li {
  float: left;
  }   
  
#cart_nav a {
  padding: 0 10px;
  }  
  
#cart_nav #cart_info span {
  padding-left: 7px;
  }
  
#theme_image {
  margin: 60px 0 70px;
  text-align: center; 
  }

#nav_primary {
  position: relative;
  z-index: 11;
  margin: 0 0 70px;
  text-align: center;
  }

#nav_primary li {
  display: inline-block;  
  }

#nav_primary li a {
  padding: 0 12px;
  color: {{ theme.text_color }};
  }
  
#nav_primary li a:hover,
#nav_primary li.selected a {
  color: {{ theme.text_secondary_color }};
  }  

#home #intro .keyline,
#nav_primary .keyline,
#site_footer .keyline {
  clear: both;
  display: block;
  margin: 50px auto 0;
  height: 1px;
  width: 200px;
  background: {{ theme.border_color }};
  }


/* -------------------------------------------------------------- 
  Site Footer
-------------------------------------------------------------- */  
  
#site_footer {
  width: 100%;
	clear: both;
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin: 135px auto 0;
  }

#site_footer p {
  color: {{ theme.text_secondary_color }};
  }

#site_footer h1 {
  margin-bottom: 20px;
  }  
  
#site_footer ul {
  clear: both;
  text-align: center;
  }

#site_footer li {
  display: inline-block;  
  }  

#site_footer li a {
  padding: 13px;
  color: {{ theme.text_color }};
  }      
  
#site_footer ul:hover li a:hover {
  color: {{ theme.text_secondary_color }};
  }
  
#site_footer .keyline {
  margin: 0 auto;
  height: 1px;
	width: 100%;
  max-width: 550px;
  }  

#social_links {
  margin: 15px 0 40px;
  }

#social_links li a {
  color: {{ theme.text_secondary_color }};
  }

#social_links li a:hover {
  color: {{ theme.text_color }} !important;
  }

  
  
/* Big Cartel Badge
------------------------------------------------------------*/

#badge {
  width: 100%;
  margin: 18px 0 20px;  
  }

#website + #badge {
  margin-top: 35px;
  }

#badge a {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 23px;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url({{ 'bc_badge.png' | theme_image_url }}) no-repeat;
  }  
  
  
/* -------------------------------------------------------------- 
  Site Content
-------------------------------------------------------------- */

#content_header {
  margin-top: -25px;
  text-align: center;
  }
  
#content_header h1 {
  font-size: 34px;
  color: {{ theme.text_color }};
  }
  
  
/* -------------------------------------------------------------- 
  Home
-------------------------------------------------------------- */  
  
#home #intro {
	margin: -28px auto 0;
	max-width: 660px;
	font-size: 30px;
	color: {{ theme.link_color }};
	text-align: center;
	}  
  
#home #intro .keyline {
	margin-bottom: 70px;
	} 
	 
  
/*============================================================
  Basic Styles - used for the simple controls
============================================================*/

  
  
  