/* --------------------------------------------------------------
  Base styles
-------------------------------------------------------------- */
body {
  font-family: var(--text-font);
  font-size: 16px;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  background-image: #{'{% if theme.background_image != blank %} url("{{ theme.background_image.url }}") {% else %} none {% endif %}'};
  background-repeat: repeat;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.2em;
  line-height: 1.4em;
  }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

a,
a:visited {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  }

a:hover,
a:active {
  color: var(--link-hover-color);
  text-decoration: underline;
  }

a img {
  display: block;
  text-decoration: none;
  border: none;
  }

img {
  border: none;
  -ms-interpolation-mode: bicubic;
  }

img,
embed,
iframe,
object,
video {
  max-width: 100%;
  }


/* --------------------------------------------------------------
  Elements / Shared
-------------------------------------------------------------- */

button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: 18px 30px;
  line-height: 1.4em !important;
  margin: 0;
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color) !important;
  background: transparent;
  cursor: pointer;
  font-family: var(--text-font);
  font-size: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.minimal-button {
    background: none;
    border: none;
    font-size: 14px;
    padding: 0;

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus {
      text-decoration: underline;
    }
  }
}

  .button.disabled, .button:disabled {
    cursor: not-allowed;
    opacity: .3;
  }

.button:hover {
  color: var(--link-hover-color) !important;
  border-color: var(--link-hover-color);
  }

.button.disabled:hover, .button:disabled:hover {
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color) !important;
  }

.select {
  border: 1px solid var(--border-color);
  color: var(--text-secondary-color) !important;
  font-family: var(--text-font);
  height: 58px;
  margin-bottom: 20px;
  max-width: 100%;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  select {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    color: var(--text-secondary-color) !important;
    font-family: var(--text-font);
    font-size: 16px;
    height: 100%;
    letter-spacing: 1px;
    line-height: 1.4em !important;
    padding: 0 66px 0 16px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;

    option {
      background-color: #FFF;
      color: #000;

      &:disabled {
        color: graytext;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
      &::-ms-expand {
        display: none;
      }
    }
  }

  svg {
    fill: var(--text-secondary-color) !important;
    height: 8px;
    margin-top: -2px;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 13px;
    z-index: 1;
  }

  &:hover, &:active, &:focus, &:focus-within {
    color: var(--link-hover-color) !important;
    border-color: var(--link-hover-color);

    select {
      color: var(--link-hover-color);

      option:disabled {
        color: graytext;
      }
    }
    svg {
      fill: var(--link-hover-color);
    }
  }
}

input,
textarea {
  padding: 10px 8px;
  width: auto;
  font-family: var(--text-font);
  background: var(--background-color);
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

li:hover textarea,
li:hover input {
  background: var(--background-secondary-color);
  }

input:focus,
textarea:focus {
  background: var(--background-secondary-color);
  }

label {
  display: block;
  float: left;
  width: 170px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: right;
  }

ul#error {
  max-width: 550px;
  margin: 20px auto 80px;
  text-align: center;
  color: var(--error-text-color);
  background: var(--error-background-color);
  }

ul#error li {
  padding: 14px;
  margin-bottom: 1px;
  }

.message {
  max-width: 500px;
  margin: 110px auto 0;
  padding: 25px 25px;
  text-align: center;
  }

.message p {
  font-size: 16px;
  margin-bottom: 0;
  }

#search {
  position: relative;
  margin-right: 10px;
  }
#search #search-form a {
  position: absolute;
  right: 0;
  color: var(--text-secondary-color) !important;
  }

#search #search-form a:hover {
  color: var(--text-color) !important;
  }

#search #search-form input {
  visibility: hidden;
  margin: -15px 0 0;
  outline: none;
  opacity: 0;
  color: var(--text-color);
  background: var(--background-secondary-color);
  border: none;
  transition: all .2s ease-in;
  border-radius: 3px;
  }

#search #search-form input:focus {
  color: var(--background-color);
  }

#search:hover #search-form a {
  visibility: hidden;
  }

#search:hover #search-form input {
  visibility: visible;
  opacity: 1;
  transition: all 0 ease-in;
  }

span.arrow {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--text-secondary-color) transparent transparent transparent;
  }

/* Big Cartel Badge
------------------------------------------------------------*/

#badge {
  width: 100%;
  margin-top: 20px;
  }

#badge a {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 23px;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(#{'{{ "bc_badge.png" | theme_image_url }}'}) no-repeat;
  }


/* --------------------------------------------------------------
  Structure
-------------------------------------------------------------- */

.canvas {
  width: 80%;
  max-width: 800px;
  min-width: 550px;
  margin: 0 auto 0;
}

#home,
#products_page,
#product {
  .canvas {
    max-width: 1000px;
  }
}

#site_content {
  position: relative;
  }


/* --------------------------------------------------------------
  Site Header
-------------------------------------------------------------- */

#site_header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--background-color);
  }

#branding a,
#cart_nav a {
  color: var(--text-color);
  }

#branding a:hover,
#cart_nav a:hover {
  color: var(--text-secondary-color);
  }

#branding {
  max-width: 50%;
  }
#branding h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

#cart_nav {
  margin-left: auto;
  }
#cart_nav ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

#cart_nav #menu {
  display: none;
  }

#cart_nav #cart_info span {
  padding-left: 7px;
  }

#theme_image {
  margin: -20px auto 40px;
  text-align: center;
}
#theme_image a {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
#theme_image img {
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  max-height: 240px;
  width: 100%;
}

#nav_primary {
  position: relative;
  margin: 0 0 70px;
  text-align: center;
}
#nav_primary ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0 0 70px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#nav_primary li a {
  color: var(--text-color);
  }

#nav_primary li a:hover,
#nav_primary li.selected a {
  color: var(--text-secondary-color);
  }

#home #intro .keyline,
#nav_primary .keyline,
#site_footer .keyline {
  clear: both;
  display: block;
  margin: 50px auto 0;
  height: 1px;
  width: 200px;
  background: var(--border-color);
  }


/* --------------------------------------------------------------
  Site Footer
-------------------------------------------------------------- */

#site_footer {
  position: relative;
  overflow: hidden;
  opacity: 1;
  width: 100%;
  clear: both;
  padding: 0 0 15px;
  text-align: center;
  transition: all .2s ease-in;

  &:hover {
    opacity: 1;
  }

}


/* --------------------------------------------------------------
  Site Content
-------------------------------------------------------------- */

#content_header {
  margin-top: -25px;
  text-align: center;
  }

#content_header h1 {
  font-family: var(--header-font);
  font-size: 34px;
  color: var(--text-color);
  }


/* --------------------------------------------------------------
  Loading Spinner
-------------------------------------------------------------- */

.spinner {
  opacity: .5;
  height:40px;
  width:40px;
  position:absolute;
  top: 110px;
  left: 50%;
  margin: 0 auto 0 -20px;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left:2px solid var(--border-color);
  border-right:2px solid var(--border-color);
  border-bottom:2px solid var(--border-color);
  border-top:2px solid var(--text-secondary-color);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}


/*============================================================
  Basic Styles - used for the simple controls
============================================================*/

.maintenance-message {
  text-align: center;
  margin: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;

  h1 {
    margin: 0;
  }
}
