/* -------------------------------------------------------------- 
  Product
-------------------------------------------------------------- */  

#product h1 {
  margin-bottom: 29px;
  }
  
body#product .product_price h3.price:before {
  content: "";
  padding-right: 0;
  }  

#product_options {
  margin-bottom: 25px;
  text-align: center;
  }

#product_options h3 {
  display: inline-block;
  margin-top: 2px;
  color: {{ theme.text_secondary_color }};
  }

#product_options .active {
   color: {{ theme.link_color }} !important;
  }

#product_options .slash {
  color: {{ theme.text_secondary_color }};
  padding-left: 1px;
  }

#product_options form {
  display: inline-block;
  }
  
.option_select { 
  position: relative;
  display: inline-block;
  }  

#product .coming-soon .product_price h3,
#product .sold-out .product_price h3 {
  padding: 0;
  margin-bottom: 35px;
  border-top: 0;  
  }  
    
.option_select .options {
  display: none;
  position: absolute;
  z-index: 999;
  top: 30px;
  width: 150px;
  text-align: left;
  text-indent: 10px;
  background: {{ theme.secondary_background_color }};
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0, .3);
  } 
  
.option_select .options:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 7px;
  border-bottom: 10px solid #eee;
  border-top-color: inherit; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  }     

.option_select .options li {
  padding: 6px 0;
  cursor: pointer;
  border-radius: 4px;  
  border-bottom: 1px solid {{ theme.background_secondary_color }};
  }  
  
.option_select .options li:last-child {
  border: none;
  }  
  
.option_select .options li:hover {
  background: {{ theme.background_color }};
  }  
  
#product_options button {
  border: none;
  padding: 0;
  margin-left: -2px;
  font-family: {{ theme.text_font }} 
  font-size: 13px;
  text-decoration: underline;
  background: transparent;  
  }  

#product .product_images {
  position: relative;
  }

#product .product_images .flex-control-nav {
	bottom: -36px;
	display: block;
	}
	
#product .product_info {
	margin-bottom: 20px;
	}	
  
#product #page_body {
  width: 550px;
  margin: 30px auto 0;
  }

#product #pagination {
  margin-top: 120px;
  }

.product_inventory {
	width: 100%;
	margin: 24px auto;
	line-height: 0;
	}

.product_inventory ul {
	margin-bottom: 0;
	}

.product_inventory li {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
	}

.product_inventory li h3 {
	margin: 0 0 3px;
	padding: 0;
	}

.product_inventory li h3 span {
	float: right;
	color: {{ theme.text_secondary_color }};
	}
	
.product_inventory li .bar {
	z-index: -1;
	float: left;
	width: 100%;
	height: 3px;
	background: {{ theme.background_secondary_color }};
	}	

.product_inventory li .bar.fill {
	background: {{ theme.link_color }};
	}
	
#product .product_sharing {
	float: none;
	margin: 37px auto 201px;
	}
	
#product .product_inventory + .product_sharing {
	margin: 70px auto 231px;
	}
	
.product_sharing {
	float: left;
  width: 80%;
  }

.product_sharing ul {
	margin-bottom: 0;
	line-height: 0;
	}

.product_sharing li {
	width: 33%;
	float: left;
  padding: 0;
  height: 40px;
  text-align: center;
  list-style-type: none;
  }  

.product_sharing li h3:first-child {
	margin: 0;
	line-height: 39px !important;
	color: {{ theme.text_secondary_color }};	
	}

.product_sharing .social_action {
  display: none;
  position: relative;
  top: 10px;
  }

.product_sharing li:hover h3 {
  display: none;
  }

.product_sharing li:hover .social_action {
  display: block;
  }

.product_sharing .social_facebook:hover,
.product_sharing .social_pinterest:hover,
.product_sharing .social_tweet:hover  {
  padding-bottom: 0;
  }

.product_sharing .social_facebook iframe {
 	width: 100% !important;
  margin-left: 25% !important;
  }

.product_sharing .social_tweet iframe {
 	width: 100% !important;
  margin-left: 25% !important;
  }

.product_sharing .social_pinterest iframe {}