/* --------------------------------------------------------------
  Product
-------------------------------------------------------------- */


#product {

  #site_content {
    margin-bottom: 0;
  }

  h1 {
    margin-bottom: 29px;
    line-height: 1.3em;
  }

  .product_images {
    position: relative;

    .flex-control-nav {
      bottom: -36px;
      display: block;
    }
  }

  .product-form {
    margin: 40px auto 0;
    max-width: 300px;
    width: 100%;

    .add-to-cart-button, .reset-selection-button {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      display: block;
    }

    .reset-selection-button-container {
      text-align: center;
      width: 100%;
    }

    button.reset-selection-button {
      display: none;
      height: auto;
      max-width: 100%;
      line-height: normal;
      margin: 20px auto 0;
      padding: 4px !important;
      width: auto;
    }
  }

  .product_info {
    margin-bottom: 20px;

    .product_price {
        padding: 15px 0 11px;

      h3 {
        position: relative;
        right: 0;

        &.price {
          position: relative;
          width: 100%;
          color: var(--text-color);

          .on_sale {}
        }
      }
    }

    &.coming-soon, &.sold-out {}


    #product_sharing {
      float: right;
      margin-top: -30px;

      a {
        position: relative;
        z-index: 100;
        color: var(--text-secondary-color);

        &:hover {
          color: var(--text-color);
        }
      }

      ul {
        display: none;
        position: fixed;
        z-index: 200;
        top: 50%;
        left: 50%;
        min-width: 400px;
        padding: 60px 30px 80px;
        background: var(--link-color);
        opacity: .9;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);


        li {
          a {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 18px 0 20px;
            text-align: center;
            font-size: 34px;
            color: #fff;
            border-top: 1px solid rgba(255,255,255, .3);
            transition: background .5s ease-in;

            &:hover {
              color: #fff;
              background: rgba(255,255,255, .3);
              transition: background 0 ease-in;
            }
          }

          &:first-child {
            padding-bottom: 10px;

            a {
              color: rgba(255,255,255, .7);
              border: none;

              &:hover {
                background: transparent;
                color: #fff;
              }
            }
          }

          &:last-child {
            a {
              border-bottom: 1px solid rgba(255,255,255, .3);
            }
          }
        }
      }
    }
  }

  #page_body {
    width: 520px;
    margin: 30px auto 0;
  }

  .product_inventory {
    width: 100%;
    margin: 24px auto;
    line-height: 0;

    ul {
      margin-bottom: 0;

      li {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 10px 0 0;
        list-style: none;

        h3 {
          margin: 0 0 4px;
          padding: 0;
          font-size: 16px;

          span {
            float: right;
            color: var(--text-secondary-color);
          }
        }

        .bar {
          z-index: -1;
          float: left;
          width: 100%;
          height: 3px;
          background: var(--background-secondary-color);

          .fill {
            background: var(--link-color);
          }
        }
      }
    }
  }

  #pagination {
    margin: 100px auto;
  }

  #instant-checkout-button {
    box-sizing: border-box;
    margin-top: 12px;
  }
}
