<h1 class="page-title">{{ page.name }}</h1>

{% if errors != blank %}
  <div class="message-banner message-banner--errors message-banner--centered">
    {% for error in errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

{% if contact.sent %}
  <div class="message-banner message-banner--no-bg message-banner--centered">Thanks! Your message has been sent and we'll get back to you soon.</div>
{% else %}
  <form method="post" action="/contact" class="contact-form">
    <div class="contact-form-block contact-name">
      <label class="contact-label" for="name">Name</label>
      <div class="input-holder">
        {{ contact | contact_input: 'name' }}
      </div>
    </div>
    <div class="contact-form-block contact-email">
      <label class="contact-label" for="email">Email</label>
      <div class="input-holder">
        {{ contact | contact_input: 'email' }}
      </div>
    </div>
    <div class="contact-form-block contact-subject">
      <label class="contact-label" for="subject">Subject</label>
      <div class="input-holder">
        {{ contact | contact_input: 'subject' }}
      </div>
    </div>
    <div class="contact-form-block contact-message">
      <label class="contact-label" for="message">Message</label>
      <div class="input-holder">
        {{ contact | contact_input: 'message' }}
      </div>
    </div>
    <div class="contact-form-block contact-send">
      <button class="button button--centered" type="submit" name="submit">Send message</button>
    </div>
    <div class="contact-form-block recaptcha-note">
      <p>{{ contact.recaptcha }}</p>
    </div>
  </form>
{% endif %}
