{% get products from products.all limit:theme.featured_products order:theme.featured_order %}

{% if theme.welcome_text != blank %}
<section id="intro">
	<p>{{ theme.welcome_text }}</p>
	<span class="keyline"></span>
</section>
{% endif %}

{% if products != blank %}
<section id="products">
  {% for product in products %}
  <article id="product_{{ product.id }}" class="product {{ product.status }}">
    <section class="product_images galy">
	    	<div class="spinner"></div>    
        <ul class="slides">
        {% for image in product.images %}
          <li id="image_{{ forloop.index }}">
		      	<img src="{{ image | product_image_url | constrain: '780'}}" alt="Image of {{ product.name | escape }}" />
          </li>
        {% endfor %}
        </ul>
    </section>
    <section class="product_info">
      <section class="product_price">
        <a href="{{ product.url }}" title="View {{ product.name }}">
	        <h2>{{ product.name | truncate: 75 }}</h2>
	        {% case product.status %}
	        {% when 'active' %}
					<h3 class="price">{{ product.default_price | money_with_sign }} {% if product.on_sale %}<span class="on_sale">On sale!</span>{% endif %}</h3>
	        {% when 'sold-out' %}
	    	  <h3>Sold out</h3>
	        {% when 'coming-soon' %}
	    	  <h3>Coming soon</h3>
	        {% endcase %}
        </a>
      </section>        
    </section>
  </article>   
  {% endfor %}      
</section>

<a href="/products" id="all_products_btn" class="button">All Products</a>
{% else %}
	<p class="alert_no_products message">No products found.</p>
{% endif %} 
{% endget %}
