<!doctype html>
<!--[if lte IE 9 ]><html class="ie" lang="en"><![endif]-->
<!--[if gt IE 9 ]><html lang="en"><![endif]-->
<!--[if !IE ]> --><html lang="en"><![endif]-->
<head>
  <title>{{ page.name }} / {{ store.name }}</title>
  
  <meta charset="UTF-8">
  <!--[if IE ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->  
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, width=device-width" />  
  <meta name="author" content="{{ store.name }}" />
  <meta name="description" content="{{ page.meta_description }}" />
  <meta name="keywords" content="{{ page.meta_keywords }}" />

  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">

	<style>
    /* Prevents slides from flashing */
    .slides {
      display:none;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      Store.init('{{ page.permalink }}', {
        shippingEnabled: {{ cart.shipping.enabled }},
        discountEnabled: {{ cart.discount.enabled }},
        showSearch: {{ theme.show_search }}
      });
    });
  </script>  
  
  <!-- IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  {{ head_content }}
</head>
<body id="{% if page.permalink == 'products' %}layout{% else %}{{ page.permalink }}{% endif %}" class="{{ page.category }} {% if page.full_url contains '/category/' %}multi_col{% endif %}">
  <header id="site_header">
    <div id="branding">
      <h1><a href="/" title="Home">{{ store.name }}</a> 
      	{% if store.website != blank %}
        <a href="{{ store.website }}" id="website">Back to site</a>
				{% endif %}              
      </h1>
    </div>
    
    <nav id="cart_nav">
      <ul>
      	<li id="menu"><a href="#">Menu</a></li>
				{% if theme.show_search %}
        <li id="search">
          <form id="search-form" name="search" action="/products" method="get">
            <a href="#search-form">Search</a>
            <input id="search-input" name="search" type="text">
          </form>
        </li>
        {% endif %}       	
        <li id="cart_info"><a href="/cart" title="Cart">Cart<span>/ {{ cart.item_count | pluralize: 'item', 'items' }}</span></a></li>      
      </ul>
    </nav>
  </header>
  
  <div id="site_content" class="canvas">
    {% if theme.image != blank %}
    <div id="theme_image">
      <img src="{{ theme.image.url }}" alt="{{ store.name }}" />
    </div>
    {% endif %}

    <nav id="nav_primary">
      <ul>{% if store.website != blank %}<li id="website"><a href="{{ store.website }}">Back to site</a></li>{% endif %}<li><a href="/" alt="Home">Home</a></li><li><a href="/products" alt="Our Products">Products</a></li>{% for page in pages.all %}<li>{{ page | link_to }}</li>{% endfor %}<li><a href="/contact">Contact</a></li></ul>      
	  	
	  	{% if theme.show_search %}
	  	<div id="search">
	      <form id="search-form" name="search" action="/products" method="get">
	        <a href="#search-form">Search</a>
	        <input id="search-input" name="search" type="text">
	      </form>
      </div>
	    {% endif %}
      <span class="keyline"></span>
    </nav>    

    {% if errors != blank %}
    <ul id="error" class="fade-in">
      {% for error in errors %}<li>{{ error }}</li>{% endfor %}
    </ul>    
    {% endif %}
   
    {% if page.category == 'custom' or page.full_url contains '/success' %}
      <header id="content_header">
        <h1>{{ page.name }}</h1>
      </header>
      <section id="page_body">
      {{ page_content | paragraphs }}
      </section>
    {% else %}
      {{ page_content }}
    {% endif %} 
    <footer id="site_footer">
      <ul id="footer_nav"><li><a href="/" title="Home">Home</a></li><li><a href="/products" title="Products">Products</a></li>{% for page in pages.all %}<li>{{ page | link_to }}</li>{% endfor %}<li><a href="/contact">Contact</a></li><li><a href="/cart">Cart</a></li></ul> 
		  {% if theme.twitter_link != blank or theme.facebook_link != blank or theme.tumblr_link != blank %}
      <span class="keyline"></span>
		  <ul id="social_links">
		    {% if theme.twitter_link != blank %}
		      <li><a href="{{ theme.twitter_link }}" title="Follow us on Twitter">Twitter</a></li>
		    {% endif %}
		    {% if theme.facebook_link != blank %}
		      <li><a href="{{ theme.facebook_link }}" title="Friend us on Facebook">Facebook</a></li>
		    {% endif %}
		    {% if theme.tumblr_link != blank %}
		      <li><a href="{{ theme.tumblr_link }}" title="Follow us on Tumblr">Tumblr</a></li>
		    {% endif %}		    
		  </ul>
		  {% endif %}			
			<div id="badge">{{ bigcartel_credit }}</div>      
    </footer>     
  </div> 
</body>
</html>