<header id="content_header">
  <h1>{{ product.name }}</h1>
</header>

<section class="product_images galy">
  <div class="spinner"></div>
  <ul class="slides">
    {% for image in product.images %}
    <li {% if forloop.last %}class="solo"{% endif %}>
	  	<img src="{{ image | product_image_url | constrain: '1000'}}" alt="Image of {{ product.name | escape }}" />
    </li>
    {% endfor %}
  </ul>
</section>

<section class="product_info {{ product.status }}">
  <section class="product_price">
	  {% case product.status %}
	  {% when 'active' %}
	  <h3 class="price">
      {% if product.on_sale %}<span class="on_sale">On sale!</span>{% endif %}
      {% if product.variable_pricing %}
        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
      {% else %}
        {{ product.default_price | money: theme.money_format }}
      {% endif %}
    </h3>
	  {% when 'sold-out' %}
	  <h3>Sold out</h3>
	  {% when 'coming-soon' %}
	  <h3>Coming soon</h3>
	  {% endcase %}
  </section>

	{% if theme.share_buttons %}
  <section id="product_sharing">
		<a href="">Share</a>
	  <ul>
			<li><a href="#" id="close_sharing">Close</a></li>
			<li><a target="_blank" href="http://twitter.com/share?url={{ store.url }}{{ product.url }}&text=Check out {{store.name}}'s">Twitter</a></li>
			<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{store.url}}{{product.url}}">Facebook</a></li>
			<li><a target="_blank" href="http://pinterest.com/pin/create/button/?url={{store.url}}{{product.url}}&media={{ product.images.first.url }}">Pinterest</a></li>
	  </ul>
  </section>
	{% endif %}

  <section id="product_options">
    {% case product.status %}
      {% when 'active' %}
        <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
          <input type="hidden" name="utf8" value='✓'>
          {% if product.has_default_option %}
            {{ product.option | hidden_option_input }}
          {% else %}
            {% if product.has_option_groups %}
              <div class="product_option_groups">
                <input id="option" name="cart[add][id]" type="hidden" value="0">
                {% for option_group in product.option_groups %}
                  <div class="select">
                    <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                      <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                      {% for value in option_group.values %}
                        <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                      {% endfor %}
                    </select>
                    <svg  version="1.1" id="Layer_1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="531.74" height="460.5" viewBox="0 0 531.74 460.5" overflow="visible" enable-background="new 0 0 531.74 460.5" xml:space="preserve"><polygon stroke="#000000" points="530.874,0.5 265.87,459.5 0.866,0.5 "/></svg>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="select">
                <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select option">
                  <option value="0" disabled="disabled" selected>Select option</option>
                  {% for option in product.options %}
                    <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                  {% endfor %}
                </select>
                <svg  version="1.1" id="Layer_1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="531.74" height="460.5" viewBox="0 0 531.74 460.5" overflow="visible" enable-background="new 0 0 531.74 460.5" xml:space="preserve"><polygon stroke="#000000" points="530.874,0.5 265.87,459.5 0.866,0.5 "/></svg>
              </div>
            {% endif %}
          {% endif %}
          <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
          {{ store | instant_checkout_button: 'dark', '44px' }}
          {% if product.has_option_groups %}
            <div class="reset-selection-button-container">
              <button class="button minimal-button reset-selection-button" title="Reset selection" type="reset">Reset selection</button>
            </div>
          {% endif %}
        </form>
    {% endcase %}
  </section>
</section>

<section id="page_body">
  {% if product.description != blank %}
  <div class="product_description">
    {{ product.description | paragraphs }}
  </div>
  {% endif %}

  {% if theme.show_inventory_bars %}
    {% case product.status %}
      {% when 'active' %}
        <section class="product_inventory">
        	<ul>
            {% for option in product.options %}
        		<li>
        	  	<div class="bar"><span class="bar fill" style="width:{{ option.inventory }}%;"></span></div>
        	  	<h3>
        	  	  {% if product.has_default_option %}{{ product.name }}{% else %}{{ option.name }}{% endif %}
        	  	  <span>{% if option.sold_out %}Sold Out{% else %}{{ option.quantity }} in stock{% endif %}</span>
        	  	</h3>
        		</li>
        		{% endfor %}
        	</ul>
        </section>
    {% endcase %}
  {% endif %}
</section>

<nav id="pagination">
  <ul>
  {% if product.previous_product != blank %}<li id="pag_prev"><a href="{{ product.previous_product.url }}" class="button">Previous</a></li>{% endif %}{% if product.next_product != blank %}<li id="pag_next"><a href="{{ product.next_product.url }}" class="button">Next</a></li>{% endif %}
  </ul>
</nav>
